@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,700);

* {
	margin: 0;
	padding: 0;
}
body {
	background:url(bg.gif) #444  no-repeat;
	color: #fff;
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
}
a, a:visited {
	color: #99CC00;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
p, h2, h3, pre, code, dl, ul { margin-bottom: 10px; }
h3 { border-bottom: 1px solid #fff; }
dt { font-weight: bold; }
dd { margin-left: 15px; }
ul li ul { margin-left: 15px; }
pre,code {
	background-color: #000;
	padding: 20px;
	font: 14px "Courier New", Courier, monospace;
	width: auto;
	-webkit-font-smoothing: none;
	overflow-y: hidden;
	overflow-x: auto;
}
h1, h2 {
	font-weight: 700;
	color: #ccc;
}
span {
	font-size: 14px;

}
dl, table {
	font-size: 14px;
}
table {
	border: 1px solid grey;
	border-spacing: 2px;
	background: gray;

}
td {
	margin:2px;
	background:#333;
	padding:2px;

}
.demo {
	font-size: 14px;

}
.download {
	display:block;
	background-color: #555;
	padding: 10px;
	margin: 10px 0px 10px 0px;
	width: 500px;
	overflow-y: hidden;
	overflow-x: auto;
}

#container {
	margin: 0 auto;
	padding: 20px 0;
	text-align: left;
	width: 70%;
	position: relative;
	overflow: hidden;
}

